@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@inject projectMVC.UnitOfWork.IUnitOfWork _unitOfWork
@inject UserManager<ApplicationUser> _usermanger

@{
    ApplicationUser CurrentUser = new();
    var categories = _unitOfWork.Category.GetAll().ToList();
    var CartCount = _unitOfWork.CartItem.GetAll().Where(i => i.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)).Count();
    var WishListCount = _unitOfWork.WishListItem.GetAll().Where(i => i.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier)).Count();
    if(User.Identity.IsAuthenticated)
    {
        CurrentUser = await _usermanger.FindByEmailAsync(User.FindFirstValue(ClaimTypes.Email));
    }
}

<!DOCTYPE html>
<html lang="en">
<!-- molla/index-3.html  22 Nov 2019 09:55:42 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tech Shop</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/icons/site.html">
    <link rel="mask-icon" href="~/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/skins/skin-demo-3.css">
    <link rel="stylesheet" href="~/assets/css/demos/demo-3.css">

    <style>
        .bg-custom-1 {
            background-color: #85144b;
        }

        .bg-custom-2 {
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-3">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                    </div><!-- End .header-left -->

                    <div class="header-right">
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            
                            <i class="icon-bars"></i>
                        </button>

                        <a class="logo">
                            <img src="~/assets/images/demos/demo-3/logo.jpg" alt="Molla Logo" width="105" height="5">
                             <span class="sr-only">Tech Shop</span>
                        </a>
                    </div><!-- End .header-left -->
                    <div class="header-right">
                        <div class="wishlist">
                            <a href="/WishListItems/Index" title="Wishlist">
                                <div class="icon" id="wishCount">
                                    <i class="icon-heart-o"></i>
                                    <span class="wishlist-count badge">@WishListCount</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div><!-- End .compare-dropdown -->

                        <div class="dropdown cart-dropdown" style="margin-right: 7px;">
                            <a href="/CartItems/Cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" >
                                <div class="icon" id="cartCount">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="cart-count">@CartCount</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        
                        <ul class="navbar-nav" style="margin-left:15px">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if(!User.Identity.IsAuthenticated || string.IsNullOrEmpty(CurrentUser.Picture))
                                    {
                                        <img src="~/assets/images/profile.jpg" width="40" height="40" class="rounded-circle" style="display:inline;border-radius:50%;">
                                    }
                                    else
                                    {
                                        <img src="~/assets/images/UserImages/@CurrentUser.Picture" width="40" height="40" class="rounded-circle" style="display:inline;border-radius:50%;">
                                    }
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="width:150px">
                                    @if(User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" style="font-size:13px" asp-controller="Home" asp-action="Dashboard">Edit Profile</a>
                                        <a class="dropdown-item" style="font-size:13px" asp-controller="Order" asp-action="Index">Orders</a>
                                        @if(User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" style="font-size:13px" asp-controller="Home" asp-action="Index" asp-area="Admin">Dashboard</a>
                                            
                                        }
                                        <a class="dropdown-item" style="font-size:13px" asp-controller="Account" asp-action="Logout">Log Out</a>
                                    }
                                    else
                                    {
                                        <a class="dropdown-item" style="font-size:13px" asp-controller="Account" asp-action="Login">Sign In</a>
                                        <a class="dropdown-item" style="font-size:13px" asp-controller="Account" asp-action="Register">Sign Up</a>
                                    }

                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        @foreach (var item in categories)
                                        {
                                            <li class="item-lead"><a href="#">@item.Name</a></li>
                                        }
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav" style="width:100%">
                            <ul class="menu sf-arrows ">

                                <li class="megamenu-container" style="margin-right: 7px;">
                                    <a asp-action="index" asp-controller="home">Home</a>
                                </li>


                                <li style="margin-right: 7px;">
                                    <a asp-action="index" asp-controller="shop">Shop</a>
                                </li>

                                <li style="margin-right: 7px;">
                                    <a asp-action="index" asp-controller="about">About</a>
                                </li>

                                <li style="margin-right: 7px;">
                                    <a asp-controller="contact" asp-action="contact">Contact Us</a>
                                </li>

                            </ul><!-- End .menu -->

                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        @RenderBody()
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="~/assets/images/demos/demo-3/IMG2.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>The Electronic Store was established in March 2023.We provide an honest and reliable service. </p>

                                <div class="widget-call">
                                    <i class="icon-phone"></i>
                                    Got Question? Call us 24/7
                                    <a href="tel:#">+0123 456 789</a>
                                </div><!-- End .widget-call -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">

                                    <li><a asp-action="index" asp-controller="about">About Molla</a></li>
                                    <li> <a asp-action="index" asp-controller="about">Our Services</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a asp-action="index" asp-controller="Review">Reviews</a></li>
                                    <li><a asp-controller="contact" asp-action="contact">Contact Us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li>Payment Methods</li>
                                    <li>Money-back guarantee!</li>
                                    <li>Returns</li>
                                    <li>Shipping</li>
                                    <li>Terms and conditions</li>
                                    <li>Privacy Policy</li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Tech Shop. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="./assets/images/payment.jpeg" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a asp-controller="shop" asp-action="index">Shop</a>
                            </li>
                            <li>
                                <a href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a asp-controller="contact" asp-action="index" class="sf-with-ul">Contact Us</a>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->

            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->
    <!-- Sign in / Register Modal -->
    <!-- Plugins JS File -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    @*<script src="https://code.jquery.com/ui/3.3.1/jquery-ui.js" ></script>*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/bootstrap-input-spinner.js"></script>
    <script src="~/assets/js/jquery.plugin.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>


    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/demos/demo-3.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
<!-- molla/index-3.html  22 Nov 2019 09:55:58 GMT -->
@*</html>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - projectMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>*@
