@model Order


<div class="page-content">
	<div class="container">
		<table class="table table-wishlist table-mobile">
			<thead>
				<tr>
					<th>Product</th>
					<th>Amount</th>
					<th>Price</th>
					<th>Stock Status</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach(var item in Model.OrderItems)
				{
					<tr>
						<td class="product-col">
							<div class="product">
								<figure class="product-media">
									@*productDetail*@
									<a href="#">

										<img src="~/assets/images/ourimages/@item.Product.Images[0].ImageUrl" alt="Product image">
									</a>
								</figure>

								<h3 class="product-title">
									<a href="#">@item.Product.Name</a>
								</h3><!-- End .product-title -->
							</div><!-- End .product -->
						</td>
						<td class="price-col">@item.Quantity</td>
						<td class="price-col">@item.Price</td>
						@if (@item.Product.UnitsInStock > 0)
						{
							<td class="stock-col"><span class="in-stock">In stock</span></td>
						}
						else
						{
							<td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
						}
					</tr>
				}
				
				
			</tbody>
		</table><!-- End .table table-wishlist -->

	</div><!-- End .container -->
</div><!-- End .page-content -->