<html>
<head>
    <style>
        .row {
            align-content: center;
            background-color: #F7F7F7;
            /* padding-left:100px;
                       padding-right:100px;
                       padding-top:10px;
                       padding-bottom:10px;*/
        }

        img {
            align-content: center;
            width: 300px;
            padding-left: 140px;
        }

        h2 {
            font-family: Arial;
            text-shadow: black black 2px;
            color: forestgreen;
            position: center;
        }

        p {
            font: italic;
            color: darkslategrey;
            position: center;
        }
    </style>

</head>
<body>


    <div class="row">
        <div class="col-md-6 offset-3 text-center">
            <h2>Order Completed Succefully </h2>
            <img src="~/assets/images/orderSuccess.jpg" />
            <hr />
            <p>Thank You!</p>
        </div>

    </div>
</body>

</html>